n8n-workflows/yt-transcript-agent.json
{
  "name": "My workflow 2",
  "nodes": [
    {
      "parameters": {
        "command": "=yt_search.py \"{{ $json[\"What is your question?\"] }}\" \"{{ $json[\"How many videos do you want to search?\"] }}\" "
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        416,
        -240
      ],
      "id": "06ab2cf6-3509-4513-b0e9-c213503ecda7",
      "name": "Execute Command",
      "executeOnce": true,
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Parse the JSON string in stdout\nconst raw = items[0].json.stdout;\nconst videoList = JSON.parse(raw);\n\n// Map each video as an item to return\nreturn videoList.map(video => ({\n  json: video\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        624,
        -240
      ],
      "id": "104e60d7-f2c0-4063-94b3-518d86437b72",
      "name": "Code"
    },
    {
      "parameters": {
        "fieldToSplitOut": "id",
        "include": "allOtherFields",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        848,
        -240
      ],
      "id": "397482aa-14b2-4930-abfd-0482c3517140",
      "name": "Split Out"
    },
    {
      "parameters": {
        "command": "=sh -c 'video_id=\"{{$json[\"id\"]}}\"; pipx run youtube_transcript_api \"$video_id\" | python3 -c \"import ast, sys; print(\\\" \\\".join([entry[\\\"text\\\"] for entry in ast.literal_eval(sys.stdin.read())[0]]))\"'\n"
      },
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [
        1280,
        -176
      ],
      "id": "e45c8b5d-011a-4756-aeb8-64bb4e481a57",
      "name": "Execute Command1"
    },
    {
      "parameters": {
        "batchSize": "={{ 1 }}",
        "options": {
          "reset": false
        }
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        1056,
        -240
      ],
      "id": "3237654a-d749-4520-a073-dc6c229c6784",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "jsCode": "return items.map(item => {\n  return {\n    json: {\n      transcript: item.json.stdout\n    }\n  };\n});"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1424,
        -176
      ],
      "id": "b7053912-736b-4add-8195-1276b07a8936",
      "name": "Code1"
    },
    {
      "parameters": {
        "formTitle": "Search Youtube",
        "formDescription": "Enter a question and the AI will search and summarize the top youtube videos on this topic",
        "formFields": {
          "values": [
            {
              "fieldLabel": "What is your question?",
              "requiredField": true
            },
            {
              "fieldLabel": "How many videos do you want to search?",
              "fieldType": "number",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.2,
      "position": [
        208,
        -240
      ],
      "id": "a9311981-ddad-490f-b3a0-027645edb160",
      "name": "On form submission",
      "webhookId": "b29bcd38-919b-47a3-8849-add803493736"
    },
    {
      "parameters": {
        "content": "## Step 1\nForm: submit question and # of vids to search\n",
        "height": 320,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -352
      ],
      "id": "f8933dfc-68c3-4bf7-a9cd-3efe2c257518",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Step 2\n",
        "height": 400,
        "width": 192
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        368,
        -432
      ],
      "id": "d2721550-edad-42ad-a337-fc4dbf11f16c",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecone-yt-db",
          "mode": "list",
          "cachedResultName": "pinecone-yt-db"
        },
        "embeddingBatchSize": 1500,
        "options": {
          "pineconeNamespace": ""
        }
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        1616,
        -176
      ],
      "id": "13632672-a5a1-4a80-a93a-4fec2a3c0a9c",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "NiamWEHoAZazPkYN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json.transcript }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1648,
        96
      ],
      "id": "a89d4506-5e35-46f9-a635-5dd59a5bb406",
      "name": "Default Data Loader1"
    },
    {
      "parameters": {
        "model": "nomic-embed-text:latest"
      },
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        2000,
        64
      ],
      "id": "8d56f0ec-ea94-4ebb-aaa0-bd9c3bb19b2f",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "L2ZDXvCYhNusgonb",
          "name": "Ollama account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.1,
      "position": [
        2384,
        -384
      ],
      "id": "12829d98-3b10-4c06-b2fc-3d1b70b92b63",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Use only this knowledge base to answer questions from the user",
        "pineconeIndex": {
          "__rl": true,
          "value": "pinecone-yt-db",
          "mode": "list",
          "cachedResultName": "pinecone-yt-db"
        },
        "includeDocumentMetadata": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        2416,
        -48
      ],
      "id": "7f4dcefc-1ce3-4bc3-942e-57c7baa36c68",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "NiamWEHoAZazPkYN",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.1,
      "position": [
        2208,
        -384
      ],
      "id": "634f4d2b-6bfc-4b94-9ea1-2c4849185824",
      "name": "When chat message received",
      "webhookId": "6361e32f-f2f7-47be-bee0-c2b09501d5ad"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        2256,
        -176
      ],
      "id": "1ee3be51-2b42-489d-8f7c-810978ff32fc",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "8QTK2V4MF9ci8xEv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Execute Command": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "Execute Command1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command1": {
      "main": [
        [
          {
            "node": "Code1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code1": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "On form submission": {
      "main": [
        [
          {
            "node": "Execute Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader1": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          },
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "9266a95d-b619-4f12-8fbd-acc4754661b8",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "83e7f7151a14000d53144da73cc769d7afe3352d34cc8c2c0c8f7143386865e7"
  },
  "id": "xgf5EnjJusETdwOs",
  "tags": []
}